.firstnav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: #ffffff; 
  padding: 10px; 
}

.firstnav .left img {
  width: 150px;
  padding-left: 30px;
}

body
{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;

}

.background-container {
  background: linear-gradient(to top, rgba(0, 0, 0, 20), rgba(255, 255, 255, 0.2)), url('/Images/main\ backgroud.jpeg');
  background-size: cover; 
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 50px;
  right: 0;
  left: 0;
  z-index: -1; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.content-container {
  position: relative;
  z-index: 1;
}

.background-container img{
  display: flex;
  justify-content: center;
  margin-top: 205px;
  height: 105px;
}

.background-container p{
  color: white;
  font-family: 'Roboto', 'Arial';
  text-align: center; 
  margin: 10px; 
  line-height: 0.6;
  font-size:16px;
}

.buttonclass{
  display: flex;
  justify-content: center;
  margin-top: 480px;
  height: 30px;
  gap: 30px;
}

.buttonclass button{
  background-color: rgba(28,48,68,255);
  color: rgba(53,209,229,255);
  transition-duration: 0.4s;
  font-weight: 900;
  text-align: center;
  width: 200px; 
  height: 40px;
  line-height: 20px;
  cursor: pointer;
  border-color: rgba(53,209,229,255);
  border-top-left-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 0;
}

.buttonclass button:hover {
  background-color: #ffffff; 
  color: rgb(43, 43, 43);
  font-weight: 700;
  font-weight: 900;
}

.left {
  display: flex;
  align-items: center; 
}

.firstnav .left ul.uldata {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-right: 250px;
}

.firstnav .left ul.uldata li {
  margin: 10px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: small;
  color: rgba(6, 95, 163, 255);
  cursor: pointer;
  transition: color 0.15s;
}

.firstnav .left ul.uldata li:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.socialicon {
  display: flex;
  align-items: center; 
}

.socialicon img {
  margin: 10px;
  height: 25px; 
  padding-top: 0;
}

.sectext {
  font-size: 1.75rem;
  line-height: 32px;
  margin-top: 80px;
}


.sectext blockquote {
  margin-top: 20px; 
  max-width: 675px;
  margin: 0 auto; 
  font-family: var(--header-font-family);
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #243b53;
}

.sectext p{
  margin-top: 20px; 
  max-width: 675px;
  margin: 0 auto; 
  font-family: var(--header-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #243b53;
}

.sectext img{
 margin-left: 550px;
}

.imgcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 33px;
  margin-top: 25px;
}

.img-content1,
.img-content2 {
  position: relative;
  width: 600px;
  height: 350px;
  overflow: hidden;
  margin-right: 20px; 
}

.img-content1::before {
  background: url('/Images/avathar_contanier_img.jpeg');
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: transform 0.3s ease;
  z-index: -1;
}

.img-content2::before {
  background: url('/Images/avathar_contanier_img2.jpeg');
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: transform 0.3s ease;
  z-index: -1;
}

.img-content1:hover::before,
.img-content2:hover::before {
  transform: scale(1.05);
}

.img-content1 img,
.img-content2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-content1 h4,
.img-content2 h4 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding-left: 15px;
  padding-top: 225px;
  color: white;
}

.img-content1 p,
.img-content2 p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0 15px;
  position: absolute;
  bottom: 30px;
  color: white;
}


.smallimgcontainer {
  display: flex;
  justify-content: space-around; 
  margin-top: 25px;
  width: 100%;
  height: 500px;
  padding-left: 10px;
  padding-right: 10px;
  background-image: url("/Images/background_sunset_mobile_57005752.jpeg");
  background-size: cover;
  background-position: center bottom;
}

.smallimg-content1,
.smallimg-content2,
.smallimg-content3 {
  border-radius: 5px;
  position: relative;
  height: 260px;
  width: 400px;
  overflow: hidden;
  margin-right: 10px;
}

.smallimg-content1::before,
.smallimg-content2::before,
.smallimg-content3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: transform 0.3s ease;
  z-index: -1;
}

.smallimg-content1 {
  background-image: url('/Images/pandora_wdw_banner.jpeg');
}

.smallimg-content2 {
  background-image: url('/Images/avathardress.jpeg');
}

.smallimg-content3{
  background-image: url('/Images/Firefly\ youtube\ .png');
}

.smallimg-content1:hover,
.smallimg-content2:hover,
.smallimg-content3:hover {
  transform: scale(1.1); /* Zoom in slowly */
  transition: transform 0.5s ease;
}

.smallimg-content1 img,
.smallimg-content2 img,
.smallimg-content3 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.5s ease; /* Smooth transition for zoom effect */
}

.smallimg-content1:hover img,
.smallimg-content2:hover img,
.smallimg-content3:hover img {
  transform: scale(1.1); /* Zoom in slowly */
}


.smallimg-content1 h4,
.smallimg-content2 h4,
.smallimg-content3 h4 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  padding-left: 15px;
  padding-top: 160px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}


.smallimg-content1 p,
.smallimg-content2 p,
.smallimg-content3 p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 0 15px;
  position: absolute;
  bottom: 20px;
  color: white;
  text-decoration: none;
}

.latestnews{
  padding-left: 60px;
  padding-top: 30px;
  padding-right: 30px;
  color: #354a61;
}

.latestnews p{
  font-family: 'Roboto', 'Arial';
  font-size: 16px;
  font-weight: 800;
  color: #354a61;
}

.line-1 {
  height: 1.5px;
  background:#354a61;
}

.newsupdates {
  display: flex;
  padding-top: 20px;
  margin-left: 30px;
  position: relative;
  margin-right: 20px;
  background-color: #f5f7fa;
}

.newsupdates img {
  width: 400px;
  height: 300px;
  margin-right: 20px;
  transition: transform 0.3s ease; /* Add transition for smooth effect */
}

.newsupdates h4 {
  padding-left: 13px;
  margin-right: 20px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 21px;
  color: #354a61;
}

.newsupdates p {
  padding-left: 13px;
  font-family: 'Roboto';
  font-size: 13px;
  font-style: italic;
  color: #354a61;
}

.newsupdates img:hover {
  transform: scale(1.05);
}

.newsupdate1,
.newsupdate2,
.newsupdate3 { 
  border: 1px solid #f5f7fa;
  box-sizing: border-box;
  width: 400px;
  height: 600px;
  box-shadow: 0px 0px 12px #888888; /* Adjust shadow values */
  margin: 0 20px; 
}

.seclastback {
  margin-top: 90px;
  width: 100%;
  height: 450px;
  background-image: url('/Images/seclastbg.jpeg');
  background-size: cover;
  background-position: center bottom;
  padding-bottom: 140px;
  position: relative;
}

.btnimg{
  width: 80%;
  height: 280px;
  background-image: url('/Images/lastbtnimg.jpeg');
  background-size: cover;
  margin-left: 130px;
}



.seclastback img {
  width: 1175px;
  height: 300px;
  padding-left: 80px;
  position: relative;
}

.seclastback h2,
.seclastback p {
  position: absolute;
  color: white;
}

.seclastback h2 {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 28px;
  top: 20%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

.seclastback p {
  font-family: 'Roboto';
  font-size: 15px;
  top: 27%;
  left: 29.3%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

.seclastback button{
  background-color: rgba(28,48,68,255);
  color: rgba(53,209,229,255);
  transition-duration: 0.4s;
  font-weight: 900;
  text-align: center;
  width: 200px; 
  height: 40px;
  line-height: 20px;
  cursor: pointer;
  border-color: rgba(53,209,229,255);
  border-top-left-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 0;
  margin-left: 70px;
  margin-top: 200px;
}

.seclastback button:hover {
  background-color: #ffffff; 
  color: rgb(43, 43, 43);
  font-weight: 700;
  font-weight: 900;
}

.lastimage {
  width: 100%;
  height: 280px;
  background-image: url('/Images/lastimg.jpeg');
  background-size: cover;
}

.lastsocial {
  padding-top: 173px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.lastsocial img {
  margin: 10px; 
  height: 35px;
  padding-left: 10px;
}

.lastsocial img:hover {
  cursor: pointer;
}

.lastdata {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
}

.newuldata {
 
  font-size: 12px;
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  color: white; /* Added white text color */
}

.newuldata li {
  white-space: nowrap;
}
